:root{
    --tamanho-fonte-padrao: 16px;
    --tamanho-fonte-titulo: 35px;
    --tamanho-fonte-subtitulo:30px;


    --cor-vermelha: #CE2C2C;

    --vermelho: #cf2929;
    --fundo: #eef1f5;
    --texto: #111111;
    --cinza-texto: #444444;
}